<AuthorizeView>
    <Authorized>
        <a href="/MicrosoftIdentity/Account/SignOut" style="text-decoration:none;">
            <span class="oi oi-account-logout" aria-hidden="true"></span>
            Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="/MicrosoftIdentity/Account/SignIn" style="text-decoration:none;">
            <span class="oi oi-account-login" aria-hidden="true"></span>
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>
